<div class="row">
  <div class="large-5 medium-5 small-5 columns">
    
  </div>
  <div class="large-7 medium-7 small-7 columns">
    <br>
    <h2><%= t('Log in') %></h2>
  </div>
</div>

<hr>

<div class="row">
  <div class="large-2 medium-2 small-12 columns">
    <p></p>
  </div>
  <div class="large-8 medium-8 small-12 columns">
    <div class="border">
 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      
        <div class="row">
          <div class="large-0 medium-4 small-4 columns">
          </div>
          <div class="large-12-centered medium-8 small-8 columns">
            <div class="actions">
              <%= f.submit "Log in", class:"large button" %>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
      
      
    </div>
  </div>
  <div class="large-2 medium-2 small-12 columns">
    
  </div>
</div>

